# Ignore Maven target directory
ByteMeStockTrader/target/

# Ignore Python virtual environment directory
ByteMeStockTrader/venv/
ByteMeStockTrader/__pycache__/

# Ignore Python bytecode files
*.pyc

# Ignore IntelliJ IDEA / VS Code settings
ByteMeStockTrader/.idea/
ByteMeStockTrader/.vscode/

# Ignore macOS file
ByteMeStockTrader/.DS_Store

# Ignore logs
*.log

# Ignore other OS and IDE-related files
ByteMeStockTrader/.gradle/
/*.iml
ByteMeStockTrader/.classpath
ByteMeStockTrader/.project

# Ignore the Maven POM file generated in build
pom.properties

Model_Training/*